version: '3'

services:
  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'

  web:
    build: .
    environment:
      - REDIS_HOST=redis
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/code
    ports:
      - '8080:8080'
    depends_on:
      - redis

  channels:
    build: .
    command: daphne -b 0.0.0.0 -p 8001 maze.asgi:application
    volumes:
      - .:/code
    depends_on:
      - redis
    links:
      - redis

  # nginx:
  #   image: nginx:latest
  #   volumes:
  #     - /etc/letsencrypt/live/mazeoflie.online:/etc/letsencrypt/live/mazeoflie.online
  #     - /etc/letsencrypt/options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf
  #   ports:
  #     - '8081:80'
  #     - '8443:443'
  #   depends_on:
  #     - web
  #     - channels
