version: '3'

services:
  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'

  web:
    build: .
    environment:
      - REDIS_HOST=redis
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/code
    ports:
      - '8080:8080'
    depends_on:
      - redis

  channels:
    build: .
    command: daphne -b 0.0.0.0 -p 8001 maze.asgi:application
    volumes:
      - .:/code
    depends_on:
      - redis
    links:
      - redis

  
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /tmp:/tmp
    ports:
      - '80:80'
    depends_on:
      - web
      - channels
