channels
channels-redis
daphne
uWSGI
drfasyncview
django
django-cors-headers
django-celery-beat
django-rosetta
django-environ
gunicorn
# mysqlclient
python-dateutil
django-parler
requests
Pillow
paypalrestsdk