html{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1615;
    color: #fff;
    padding: 10px 15px 10px 100px;
    height: 70px;
    max-width: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    .logo {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            height: 100%;
            position: absolute;
            left: 0;
            width: auto; // Ширина автоматически адаптируется к высоте
            object-fit: contain; // Изображение сохраняет пропорции
        }
    }

    .header-actions {
        display: flex;
        align-items: center;

        .login, .logout {
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: bold;
        }
        .login{            
            background-color: #4fdd39;
        }
        .logout{            
            background-color: #dd4b39;
            border: 0;
        }

        select{
            height: 36px;
            border-radius: 5px;
            padding: 0 10px;
            font-weight: bold;
            margin-right: 20px;
        }
        
        .search-input {
            padding: 10px;
            margin-right: 20px;
            border: none;
            border-radius: 5px;
            outline: none;
        }
    }
}


.games-list {
    .game {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
    }
}

.pagination {
    .step-links {
        a {
            color: blue;
            text-decoration: none;
            margin-right: 10px;
        }
        .current {
            margin-right: 10px;
        }
    }
}

table td{
    position: relative;
}
.notification-block {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.action-button {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 17px;
  }
  
  .action-button .join-game .half, .action-button .leave-game .half{
    width: 50%;
  }
  
  .action-button .leave-game{
    background-color: red;
  }
.search-icon {
    width: 38px;
    height: 38px;
    position: absolute;
    background-image: url(/static/img/search.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #adadad;
    border-radius: .25rem 0 0 .25rem;
}
label{
    font-weight: bold;
    margin: 0;
}
input[type="checkbox"]{
    scale: 1.5;
}
table{
    background-color: white;
}
.password-input{
    left: -0.5%;
    position: absolute;
    top: -0.5%;
    width: 101%;
    height: 10;
    height: 101%;
}
.games-list {
    display: flex;
    flex-wrap: wrap;    
    padding: 20px;

    .game-card {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 2%;
        width: 25%;
        margin-bottom: 3%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &.disable{
            opacity: 0;
            padding-top: 0;
            height: 0;
            padding-bottom: 0;
        }
    }
    
    .game-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    
    .game-card h2 {
        margin-top: 0;
    }
}



@media (max-width: 768px) {
    .game-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .game-card {
        width: 100%;
    }
}
