{% extends "base.html" %}
{% load i18n %}
{% load static %}

{%block styles%}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>{%trans 'Sign in - Maze of Lie' %}</title>
{%endblock%}

{% block content %}
<div class="auth-form">
    <div class="title-block">
        <h2>{%trans 'Sign in'%}</h2>
        <a href="{%url 'register'%}" class="btn">{%trans 'Registration'%}</a>
    </div>
    {%if error%}
        <h3 class="error">{{error}}</h3>
    {%endif%}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">{%trans 'Nickname'%}</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">{%trans 'Password'%}</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">{%trans 'sign in'%}</button>
        </div>
    </form>
</div>
{% endblock %}
